/* Personalización del navbar */

  .navbar-dark .navbar-brand {
      color: #ffffff;
      margin-top: 20px;
  }
  
  .navbar-brand span {
    font-size: 24px; /* Cambiar el tamaño de fuente según sea necesario */
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
  }
  
  .bg-gradient {
    background-color: #343a40;
    background-image: linear-gradient(to right, #343a40 0%, #495057 50%, #a4acb4 100%);
  }
  
/* Personalización del contenido */

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between; /* Cambiado a 'space-between' */
  align-items: flex-start; /* Cambiado a 'flex-start' */
  flex-wrap: wrap;
  height: 90vh;
}

.column {
  text-align: center;
  width: 30%; /* Ajuste el ancho de las columnas para dejar espacio entre ellas */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiado a 'flex-start' */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  margin-bottom: 10px;
}

.registro {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Personalización del pie de página */
  
  .footer {
    margin-bottom: 50px;
    padding: 1rem;
  }
  