USE [master]
GO
CREATE DATABASE [paytollapp]
 WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [paytollapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [paytollapp]
GO
USE [paytollapp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CATEGORIA_VEHICULO](
	[ID_CATEGORIAVH] [int] NOT NULL,
	[ID_TARIFA] [int] NOT NULL,
	[CAT_DESCRIPCION] [varchar](40) NOT NULL,
 CONSTRAINT [PK_CATEGORIA_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIAVH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FACTURA](
	[ID_FACTURA] [int] NOT NULL,
	[ID_TARJETAHB] [int] NOT NULL,
	[REGISTRO] [int] NOT NULL,
	[FECHA_EXP] [datetime] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO](
	[ID_FACTURA] [int] NOT NULL,
	[ID_PEAJE] [int] NOT NULL,
	[PLACA] [varchar](15) NOT NULL,
	[SUBTOTAL] [int] NOT NULL,
	[IVA] [int] NOT NULL,
	[TOTAL] [int] NOT NULL,
 CONSTRAINT [PK_MOVIMIENTO_PEAJE_FACTURA_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC,
	[ID_PEAJE] ASC,
	[PLACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PEAJE](
	[ID_PEAJE] [int] NOT NULL,
	[NOMBRE_PEAJE] [varchar](40) NOT NULL,
	[UBICACION] [varchar](30) NOT NULL,
	[TEL_PEAJE] [int] NOT NULL,
	[CORREO_PEAJE] [varchar](30) NOT NULL,
	[NIT] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PEAJE] PRIMARY KEY CLUSTERED 
(
	[ID_PEAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARIFA](
	[ID_TARIFA] [int] NOT NULL,
	[MONTO_TARIFA] [int] NOT NULL,
	[TRF_DESCRIPCION] [varchar](40) NULL,
 CONSTRAINT [PK_TARIFA] PRIMARY KEY CLUSTERED 
(
	[ID_TARIFA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARJETAHB](
	[ID_TARJETAHB] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_EXP] [datetime] NOT NULL,
	[MODOS_RECARGA] [varchar](30) NULL,
	[SALDO] [int] NOT NULL,
 CONSTRAINT [PK_TARJETAHB] PRIMARY KEY CLUSTERED 
(
	[ID_TARJETAHB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRES_USUARIO] [varchar](30) NOT NULL,
	[APELLIDOS_USUARIO] [varchar](30) NOT NULL,
	[CEDULA] [int] NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[DIRECCION] [varchar](30) NOT NULL,
	[CORREO] [varchar](40) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[ROL] [varchar](30) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VEHICULO](
	[PLACA] [varchar](15) NOT NULL,
	[ID_CATEGORIAVH] [int] NOT NULL,
	[MODELO] [int] NOT NULL,
	[MARCA] [varchar](30) NOT NULL,
	[COLOR] [varchar](20) NOT NULL,
 CONSTRAINT [PK_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[PLACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CATEGORIA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_TARIFA_CATEGORIA_VEHICULO] FOREIGN KEY([ID_TARIFA])
REFERENCES [TARIFA] ([ID_TARIFA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CATEGORIA_VEHICULO] CHECK CONSTRAINT [FK_TARIFA_CATEGORIA_VEHICULO]
GO
ALTER TABLE [FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_TARJETAHB_FACTURA] FOREIGN KEY([ID_TARJETAHB])
REFERENCES [TARJETAHB] ([ID_TARJETAHB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [FACTURA] CHECK CONSTRAINT [FK_TARJETAHB_FACTURA]
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_MOVIMIENTO_PEAJE_FACTURA_VEHICULO] FOREIGN KEY([ID_FACTURA])
REFERENCES [FACTURA] ([ID_FACTURA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO] CHECK CONSTRAINT [FK_FACTURA_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_PEAJE_MOVIMIENTO_PEAJE_FACTURA_VEHICULO] FOREIGN KEY([ID_PEAJE])
REFERENCES [PEAJE] ([ID_PEAJE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO] CHECK CONSTRAINT [FK_PEAJE_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_MOVIMIENTO_PEAJE_FACTURA_VEHICULO] FOREIGN KEY([PLACA])
REFERENCES [VEHICULO] ([PLACA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [MOVIMIENTO_PEAJE_FACTURA_VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
GO
ALTER TABLE [TARJETAHB]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TARJETAHB_] FOREIGN KEY([ID_USUARIO])
REFERENCES [USUARIO] ([ID_USUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TARJETAHB] CHECK CONSTRAINT [FK_USUARIO_TARJETAHB_]
GO
ALTER TABLE [VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIA_VEHICULO_VEHICULO] FOREIGN KEY([ID_CATEGORIAVH])
REFERENCES [CATEGORIA_VEHICULO] ([ID_CATEGORIAVH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [VEHICULO] CHECK CONSTRAINT [FK_CATEGORIA_VEHICULO_VEHICULO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ACTUALIZAR_CATEGORIA_VEHICULO]
    @ID_CATEGORIAVH INT,
	@ID_TARIFA INT,
    @CAT_DESCRIPCION VARCHAR(40)
	
AS
BEGIN
    UPDATE CATEGORIA_VEHICULO
    SET ID_TARIFA = @ID_TARIFA, CAT_DESCRIPCION = @CAT_DESCRIPCION  
    WHERE ID_CATEGORIAVH = @ID_CATEGORIAVH;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ACTUALIZAR REGISTRO DE FACTURA
CREATE PROCEDURE [ACTUALIZAR_FACTURA]
    @ID_FACTURA INT,
	@ID_TARJETAHB INT,
    @REGISTRO INT,
    @FECHA_EXP DATETIME
AS
BEGIN
    UPDATE FACTURA
    SET ID_TARJETAHB = @ID_TARJETAHB, REGISTRO = @REGISTRO, FECHA_EXP = @FECHA_EXP
    WHERE ID_FACTURA = @ID_FACTURA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ACTUALIZAR REGISTRO MOVIMIENTO_PEAJE_FACTURA_VEHICULO 
CREATE PROCEDURE [ACTUALIZAR_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
    @ID_FACTURA INT,
	@ID_PEAJE INT,
    @PLACA VARCHAR(15),
	@SUBTOTAL INT,
	@IVA INT,
	@TOTAL INT
AS
BEGIN
    UPDATE MOVIMIENTO_PEAJE_FACTURA_VEHICULO
    SET SUBTOTAL = @SUBTOTAL, IVA = @IVA, TOTAL = @TOTAL 
    WHERE ID_FACTURA = @ID_FACTURA AND ID_PEAJE = @ID_PEAJE AND PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ACTUALIZAR_PEAJE]
    @ID_PEAJE INT,
    @NOMBRE_PEAJE VARCHAR(40),
    @UBICACION VARCHAR(30),
    @TEL_PEAJE INT,
    @CORREO_PEAJE VARCHAR(30),
    @NIT VARCHAR(30)
AS
BEGIN
    UPDATE PEAJE
    SET NOMBRE_PEAJE = @NOMBRE_PEAJE, UBICACION = @UBICACION, TEL_PEAJE = @TEL_PEAJE, CORREO_PEAJE = @CORREO_PEAJE, NIT = @NIT
    WHERE ID_PEAJE = @ID_PEAJE;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ACTUALIZAR REGISTRO DE TARIFAS
CREATE PROCEDURE [ACTUALIZAR_TARIFA]
    @ID_TARIFA INT,
	@MONTO_TARIFA INT,
    @TRF_DESCRIPCION VARCHAR(40)
AS
BEGIN
    UPDATE TARIFA
    SET MONTO_TARIFA = @MONTO_TARIFA, TRF_DESCRIPCION = @TRF_DESCRIPCION
    WHERE ID_TARIFA = @ID_TARIFA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ACTUALIZAR_TARJETAHB]
    @ID_TARJETAHB INT,
	@ID_USUARIO INT,
    @FECHA_EXP DATETIME,
	@MODOS_RECARGA VARCHAR(30),
    @SALDO INT	
AS
BEGIN
    UPDATE TARJETAHB
    SET ID_USUARIO = @ID_USUARIO, FECHA_EXP = @FECHA_EXP, MODOS_RECARGA = @MODOS_RECARGA, SALDO = @SALDO 
    WHERE ID_TARJETAHB = @ID_TARJETAHB;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ACTUALIZAR_USUARIO]
    @ID_USUARIO INT,
    @NOMBRES_USUARIO VARCHAR(30),
    @APELLIDOS_USUARIO VARCHAR(30),
	@CEDULA INT,
    @FECHA_NACIMIENTO DATE,
    @DIRECCION VARCHAR(30),
    @CORREO VARCHAR(40),
    @PASSWORD NVARCHAR(50),
	@ROL VARCHAR(30)
AS
BEGIN
    UPDATE USUARIO
    SET NOMBRES_USUARIO = @NOMBRES_USUARIO, APELLIDOS_USUARIO = @APELLIDOS_USUARIO, CEDULA = @CEDULA, FECHA_NACIMIENTO = @FECHA_NACIMIENTO,
        DIRECCION = @DIRECCION, CORREO = @CORREO, PASSWORD = @PASSWORD, ROL = @ROL
    WHERE ID_USUARIO = @ID_USUARIO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ACTUALIZAR REGISTRO DE VEHICULO
CREATE PROCEDURE [ACTUALIZAR_VEHICULO]
    @PLACA VARCHAR(15),
	@ID_CATEGORIAVH INT,
    @MODELO VARCHAR(20),
    @MARCA VARCHAR(30),
    @COLOR VARCHAR(20)
AS
BEGIN
    UPDATE VEHICULO
    SET ID_CATEGORIAVH = @ID_CATEGORIAVH, MODELO = @MODELO,MARCA = @MARCA,COLOR = @COLOR
    WHERE PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ELIMINAR CATEGORIA DE VEHICULO
CREATE PROCEDURE [ELIMINAR_CATEGORIA_VEHICULO]
    @ID_CATEGORIAVH INT
AS
BEGIN
    DELETE FROM CATEGORIA_VEHICULO
    WHERE ID_CATEGORIAVH = @ID_CATEGORIAVH;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A ELIMINAR FACTURA
CREATE PROCEDURE [ELIMINAR_FACTURA]
    @ID_FACTURA INT
AS
BEGIN
    DELETE FROM FACTURA
    WHERE ID_FACTURA = @ID_FACTURA;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A ELIMINAR TARIFA MOVIMIENTO_PEAJE_FACTURA_VEHICULO
CREATE PROCEDURE [ELIMINAR_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
    @ID_FACTURA INT,
	@ID_PEAJE INT,
    @PLACA VARCHAR(15)
AS
BEGIN
    DELETE FROM MOVIMIENTO_PEAJE_FACTURA_VEHICULO
    WHERE  ID_FACTURA = @ID_FACTURA AND ID_PEAJE = @ID_PEAJE AND PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ELIMINAR_PEAJE]
    @ID_PEAJE INT
AS
BEGIN
    DELETE FROM PEAJE WHERE ID_PEAJE = @ID_PEAJE;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ELIMINAR TARIFA
CREATE PROCEDURE [ELIMINAR_TARIFA]
    @ID_TARIFA INT
AS
BEGIN
    DELETE FROM TARIFA
    WHERE ID_TARIFA = @ID_TARIFA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ELIMINAR_TARJETAHB]
    @ID_TARJETAHB INT
AS
BEGIN
    DELETE FROM TARJETAHB
    WHERE ID_TARJETAHB = @ID_TARJETAHB;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ELIMINAR_USUARIO]
    @ID_USUARIO INT
AS
BEGIN
    DELETE FROM USUARIO WHERE ID_USUARIO = @ID_USUARIO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ELIMINAR VEHICULO
CREATE PROCEDURE [ELIMINAR_VEHICULO]
    @PLACA VARCHAR(15)
AS
BEGIN
    DELETE FROM VEHICULO
    WHERE PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR CATEGORIA DE VEHICULO POR ID
CREATE PROCEDURE [LISTAR_CATEGORIA_ID]
    @ID_CATEGORIAVH INT
AS
BEGIN
    SELECT * FROM CATEGORIA_VEHICULO
    WHERE ID_CATEGORIAVH = @ID_CATEGORIAVH;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR CATEGORIAS DE VEHICULOS
CREATE PROCEDURE [LISTAR_CATEGORIAS]
AS
BEGIN
    SELECT * FROM CATEGORIA_VEHICULO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A LISTAR FACTURAS
CREATE PROCEDURE [LISTAR_FACTURA]
AS
BEGIN
    SELECT * FROM FACTURA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A LISTAR FACTURA POR ID
CREATE PROCEDURE [LISTAR_FACTURA_ID]
    @ID_FACTURA INT
AS
BEGIN
    SELECT * FROM FACTURA
    WHERE ID_FACTURA = @ID_FACTURA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A LISTAR TARIFAS MOVIMIENTO_PEAJE_FACTURA_VEHICULO
CREATE PROCEDURE [LISTAR_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
AS
BEGIN
    SELECT * FROM MOVIMIENTO_PEAJE_FACTURA_VEHICULO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--P.A LISTAR MOVIMIENTO_PEAJE_FACTURA_VEHICULO POR ID
CREATE PROCEDURE [LISTAR_MOVIMIENTO_PEAJE_FACTURA_VEHICULO_ID]
    @ID_FACTURA INT,
	@ID_PEAJE INT,
    @PLACA VARCHAR(15)
AS
BEGIN
    SELECT * FROM MOVIMIENTO_PEAJE_FACTURA_VEHICULO
    WHERE  ID_FACTURA = @ID_FACTURA AND ID_PEAJE = @ID_PEAJE AND PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LISTAR_PEAJE]
    @ID_PEAJE INT
AS
BEGIN
    SELECT * FROM PEAJE WHERE ID_PEAJE = @ID_PEAJE;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR TARIFA POR ID
CREATE PROCEDURE [LISTAR_TARIFA_ID]
    @ID_TARIFA INT
AS
BEGIN
    SELECT * FROM TARIFA
    WHERE ID_TARIFA = @ID_TARIFA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR TARIFAS
CREATE PROCEDURE [LISTAR_TARIFAS]
AS
BEGIN
    SELECT * FROM TARIFA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LISTAR_TARJETAHB_ID]
    @ID_TARJETAHB INT
AS
BEGIN
    SELECT * FROM TARJETAHB
    WHERE ID_TARJETAHB = @ID_TARJETAHB;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LISTAR_TARJETASHB]
AS
BEGIN
    SELECT * FROM TARJETAHB;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LISTAR_USUARIO]
    @ID_USUARIO INT
AS
BEGIN
    SELECT * FROM USUARIO WHERE ID_USUARIO = @ID_USUARIO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LISTAR_USUARIOS]
AS
BEGIN
    SELECT * FROM USUARIO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR VEHICULO POR PLACA
CREATE PROCEDURE [LISTAR_VEHICULO_PLACA]
    @PLACA VARCHAR(15)
AS
BEGIN
    SELECT * FROM VEHICULO
    WHERE PLACA = @PLACA;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LISTAR VEHICULOS
CREATE PROCEDURE [LISTAR_VEHICULOS]
AS
BEGIN
    SELECT * FROM VEHICULO;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- REGISTRAR FACTURA
CREATE PROCEDURE [REGISTRAR_FACTURA]
    @ID_FACTURA INT,
	@ID_TARJETAHB INT,
    @REGISTRO INT,
    @FECHA_EXP DATETIME  
AS
BEGIN
    INSERT INTO FACTURA (ID_FACTURA, ID_TARJETAHB, REGISTRO, FECHA_EXP)
    VALUES (@ID_FACTURA, @ID_TARJETAHB, @REGISTRO,@FECHA_EXP);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [REGISTRAR_PEAJE]
    @ID_PEAJE INT,
    @NOMBRE_PEAJE VARCHAR(40),
    @UBICACION VARCHAR(30),
    @TEL_PEAJE INT,
    @CORREO_PEAJE VARCHAR(30),
    @NIT VARCHAR(30)
AS
BEGIN
    INSERT INTO PEAJE (ID_PEAJE, NOMBRE_PEAJE, UBICACION, TEL_PEAJE, CORREO_PEAJE, NIT)
    VALUES (@ID_PEAJE, @NOMBRE_PEAJE, @UBICACION, @TEL_PEAJE, @CORREO_PEAJE, @NIT);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [REGISTRAR_USUARIO]
    @ID_USUARIO INT,
    @NOMBRES_USUARIO VARCHAR(30),
    @APELLIDOS_USUARIO VARCHAR(30),
	@CEDULA INT,
    @FECHA_NACIMIENTO DATE,
    @DIRECCION VARCHAR(30),
    @CORREO VARCHAR(40),
    @PASSWORD NVARCHAR(50),
    @ROL VARCHAR(30)
AS
BEGIN
    INSERT INTO USUARIO (ID_USUARIO, NOMBRES_USUARIO, APELLIDOS_USUARIO, CEDULA, FECHA_NACIMIENTO, DIRECCION, CORREO, PASSWORD, ROL)
    VALUES (@ID_USUARIO, @NOMBRES_USUARIO, @APELLIDOS_USUARIO, @CEDULA, @FECHA_NACIMIENTO, @DIRECCION, @CORREO, @PASSWORD, @ROL);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- REGISTRAR VEHICULO
CREATE PROCEDURE [REGISTRAR_VEHICULO]
    @PLACA VARCHAR(15),
	@ID_CATEGORIAVH INT,
    @MODELO VARCHAR(20),
    @MARCA VARCHAR(30),
    @COLOR VARCHAR(20)	
AS
BEGIN
    INSERT INTO VEHICULO (PLACA, ID_CATEGORIAVH, MODELO, MARCA, COLOR)
    VALUES (@PLACA, @ID_CATEGORIAVH, @MODELO, @MARCA, @COLOR);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [REGISTRO_CATEGORIA_VEHICULO]
    @ID_CATEGORIAVH INT,
	@ID_TARIFA INT,
    @CAT_DESCRIPCION VARCHAR(40)
AS
BEGIN
    INSERT INTO CATEGORIA_VEHICULO (ID_CATEGORIAVH, ID_TARIFA, CAT_DESCRIPCION)
    VALUES (@ID_CATEGORIAVH, @ID_TARIFA, @CAT_DESCRIPCION);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [REGISTRO_MOVIMIENTO_PEAJE_FACTURA_VEHICULO]
	@ID_FACTURA INT,
	@ID_PEAJE INT,
    @PLACA VARCHAR(15),
	@SUBTOTAL INT,
	@IVA INT,
	@TOTAL INT
AS
BEGIN
    INSERT INTO MOVIMIENTO_PEAJE_FACTURA_VEHICULO(ID_FACTURA, ID_PEAJE, PLACA, SUBTOTAL, IVA, TOTAL)
    VALUES (@ID_FACTURA, @ID_PEAJE, @PLACA, @SUBTOTAL, @IVA, @TOTAL);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- REGISTRO DE TARIFAS
CREATE PROCEDURE [REGISTRO_TARIFA]
	@ID_TARIFA INT,
	@MONTO_TARIFA INT,
    @TRF_DESCRIPCION VARCHAR(40)
AS
BEGIN
    INSERT INTO TARIFA(ID_TARIFA, MONTO_TARIFA, TRF_DESCRIPCION)
    VALUES (@ID_TARIFA, @MONTO_TARIFA, @TRF_DESCRIPCION);
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [REGISTRO_TARJETAHB]
    @ID_TARJETAHB INT,
	@ID_USUARIO INT,
    @FECHA_EXP DATETIME,
	@MODOS_RECARGA VARCHAR(30),
    @SALDO INT	
AS
BEGIN
    INSERT INTO TARJETAHB (ID_TARJETAHB, ID_USUARIO, FECHA_EXP, MODOS_RECARGA, SALDO)
    VALUES (@ID_TARJETAHB, @ID_USUARIO, @FECHA_EXP, @MODOS_RECARGA, @SALDO);
END;
GO
USE [master]
GO
